<div class="bililive danmaku chat-card item-card">
    <header class="card-header flexrow">
        <h3 class="item-name">{{localize 'bililive.speaker'}}</h3>
        <div class="item-controls flexrow" style="text-align:right;">
            <h3>{{sender}}</h3>
        </div>
    </header>
    <div class="message-content" style="margin:5px 0px;">
        <div class="card-content"></div>
        <span class="danmaku-content">{{content}}</span>
    </div>
    <footer class="card-footer">
        <span> {{localize 'bililive.roomId'}}: <span class="room-id">{{roomId}}</span></span>
    </footer>
</div>